.buttons{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.start_button{
    text-align: center;
    font-size: small;
    background-color: gray;
    border: 3px solid black;
    cursor: pointer;
    background-color: aqua;
}

.reset_button{
    text-align: center;
    font-size: small;
    background-color: gray;
    border: 3px solid black;
    cursor: pointer;
    background-color: aqua;
}