.inputs{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 10%;
}

.width_label{
    width: 80%;
    height: 35%;
    text-align: left;
    font-size: medium;
}

.height_label{
    width: 80%;
    height: 35%;
    text-align: left;
    font-size: medium;
}

.width_input{
    width: 100%;
    height: inherit;
    border-radius: 4px;
    border: black;
}

.height_input{
    width: 100%;
    height: inherit;
    border-radius: 4px;
    border: black;
}

.enter_button{
    border-radius: 5px;
    background-color:aqua;
    text-align: center;
}

